.btn-add-circle {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
   font-size: 35px;
   
    border-radius: 50%;
    background-color:#00db6e;
  }
  .btn-add-circle:hover{
      background-color:#21db00;
  
  }
  .btn-add{
      position: fixed !important;
      z-index: 100000000;
      bottom: 25px;
      right:35px;
  }
  