.contentListe {
  width: 650px;
  height: 548px;
  overflow: scroll;
  display: flex;
  overflow-x: hidden;
}

.dashIcons{
  fill: rgba(155, 155, 155, 0.479);
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%); 
}
.dashIcons{
  z-index: -1000000000000000000000;

}
.cardsDash{
  height: 250px;

}
.tinyCardsDash{
  height: 250px;
}

.countElement{
  font-size: 45px;
  color: rgb(58, 58, 58);
}

.dashContent{
  background-color: rgb(223, 223, 223);
}

.dashTextColor{
  color: rgb(77, 77, 77);
}

.card-body{
  z-index: 10;
}

.dateChange{
  margin: 1px;
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
  border: solid #b6b6b6 2px;
  background: #ffffff;
}


.dateChange:hover{
  padding: 5px;
  border: solid #757575 2px;
  background: #b3b3b3;
}