.headerTable {
  height: 55px;
}

.bg-green {
  border: 2px solid var(--green);
}

.borderGreen {
  padding: 0 !important;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rdt_TableRow:hover {
  background-color: rgb(236, 236, 236);
}

.btnTable:hover {
  color: red;
}
.btnTable {
  font-size: 20px;
  cursor: pointer;
}
.bordered-bleu{
    border-color: var(--bleu) !important;
    background-color:#fff !important;
    color: var(--bleu) !important;
}
.bordered-bleu:hover{
    border-color: var(--bleu) !important;
    color: #fff !important;
    background-color: var(--bleu) !important;
}
