.boxGalerie {
  height: 400px;
  position: relative;
}

.btnGalerie {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 180px !important;
}

.imgArticle {
  width: 512px;
  height: 338px;
  object-fit: cover;
}

.bg-green {
  background-color: var(--green);
}
