.boxGalerie {
  height: 400px;
  position: relative;
}

.btnGalerie {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 180px !important;
}

.imgArticle {
  width: 512px;
  height: 338px;
  object-fit: cover;
}

.bg-green {
  background-color: var(--green);
}

.tagsElement{
  flex: 1;
		border: none;
		height: 46px;
		font-size: 14px;
		padding: 4px 0 0 0;
}

.tags{
  display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
}
.tag-title {
  margin-top: 3px;
}
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #000000;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #e2e2e2;
}

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}